@using StoreMVC.Extensions
@using StoreMVC.Utility
@model StoreMVC.Models.ViewModels.AppointmentDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-info">Appointment details</h2>
<div class="p-4 rounded border row">
    <div class="col-6">
        <div class="row form-group">
            <div class="col-4">
                <label asp-for="Appointment.CustomerName"></label>
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="Appointment.CustomerName" disabled/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-4">
                <label asp-for="Appointment.CustomerEmail"></label>
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="Appointment.CustomerEmail" disabled/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-4">
                <label asp-for="Appointment.AppointmentDay"></label>
            </div>
            <div class="col-8">
                <input type="date" class="form-control" asp-for="Appointment.AppointmentDay" disabled/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-4">
                <label asp-for="Appointment.AppointmentTime"></label>
            </div>
            <div class="col-8">
                <input type="time" min="09:00" max="18:00" class="form-control" asp-for="Appointment.AppointmentTime" disabled/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-4">
                <label asp-for="Appointment.CustomerPhoneNumber"></label>
            </div>
            <div class="col-8">
                <input class="form-control" asp-for="Appointment.CustomerPhoneNumber" disabled/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-4">
                <label asp-for="Appointment.SalesPerson"></label>
            </div>
            <div class="col-8">
                @if (User.IsInRole(SD.AdminEndUser))
                {
                    <input class="form-control" asp-for="Appointment.SalesPerson.Name" disabled />
                }
                else
                {
                    <select asp-for="@Model.Appointment.SalesPersonId" asp-items="Model.SalesPeople.ToSelectListItem(Model.Appointment.SalesPersonId)" class="form-control" disabled></select>
                }
            </div>
        </div>
        <div class="row form-group">
            <div class="col-4">
                <label asp-for="Appointment.IsConfirmed"></label>
            </div>
            <div class="col-8">
                <input style="height: 15px" type="checkbox" class="form-control" asp-for="Appointment.IsConfirmed" disabled/>
            </div>
        </div>
    </div>
    <div class="col-6">
        <partial name="_AppointmentProductDetailsPartial" model="@Model.Products" />
    </div>

    <br />
    <div class="row">
        <div class="form-group">
            <a class="btn btn-success" asp-action="Index">Back to list</a>
        </div>
    </div>
</div>
